{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'revise' %}" method="POST" style="margin-top: 25px">
      {% csrf_token %}
      <input value="{{ title }}" id="title" name="title">
      <br>
      <textarea id="content" name="content" rows="3" cols="10" style="height: 35vh; width: 45vw; margin-bottom: 10px; margin-top: 10px">{{ content }}</textarea>
      <br>
      <input type="submit" value="Submit">
    </form>


{% endblock %}
